.user-data-main-container {
  padding: 25px 0px;
  border: 1px solid #e5e5e5;
  border-radius: 9px;
  min-width: 600px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.user-data-container {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 100px;
}

.user-data-form-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.user-data-input-header {
  font-weight: 500;
}

.user-data-form-cell {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.user-data-input {
  padding: 5px 2px;
}

.user-data-right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-data-right-content-container {
  height: 280px;
  display: flex;
  margin-top: 8px;
  flex-direction: column;
  gap: 20px;
}

.picklist-master-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.picklist-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.user-data-picklist-header {
  margin: 0px;
  margin-left: 5px;
  font-weight: 500;
}

.user-data-radio-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  gap: 5px;
  font-size: 14px;
}

#user-data-save-button {
  border: none;
  padding: 8px 24px;
  border-radius: 4px;
  color: white;
}

#user-data-save-button:hover {
  cursor: pointer;
}

.enigma-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
}
